/* NAV */
.navbar-default{
  background: white;
  border: none;
  padding: 2% 8% 2% 10%;
}

.glyphicon-menu-hamburger{
  border: white;
}

.mi-logo{
  width: 80%;
}

.links-nav{
  margin: 11% 0;
}


/* PRIMERA SECCION: HOME */

.background{
  height: 110vh;
  background: url(../img/taxi.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.register{
  margin-top: 20%;
  padding: 4% 7% 8% 7%;
  background: #f7b617;
  color: white;
  position: relative;
  left: 3%;
}

.title-register{
  padding-bottom: 8%;
  font-size: 2.7rem;
}

.text{
  font-size: 2rem;
}

.labcar-logo{
  width: 20%;
  margin-left: 2%;
}

.register-title{
  font-size: 2.5rem;
}

.registrate{
  margin: 4% 0;
}

#download{
  color: black;
  font-weight: bolder;
  background: white;
  padding: 2%;
}


/* SEGUNDA SECCION: DESCARGA */

.sec-2{
  padding: 3% 0;
  background: #f7b617;
  color: white;
}

.frame{
  border: 1px solid white;
  left: -1px;
  padding: 3%;
}

.frame-mobile{
  margin: 2% 4%;
  border: 1px solid white;
  padding: 8% 3%;
}

.new-app{
  font-size: 1.5rem;
}

.new-app-mobile{
  font-size: 2rem;
}

.celu{
  width: 70%;
}

.cont-info{
  padding-right: 13%;
}

.letter-info{
  font-size: 120%;
}


/* TERCERA SECCION: CONDUCE */

.conduce{
  height: 64vh;
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-conduce{
  padding: 6% 3%;
  height: 64vh;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.text-conduce{
  font-size: 120%;
}

#btn-conductor{
  background: #f7b617;
  margin-top: 2%;
  font-weight: bold;
  padding: 2% 4%;
}


/* CUARTA SECCION: TARIFAS */

.tarifas{
  background: #f7b617;
  color: white;
}

.mapa{
  width: 90%;
  padding: 2%;
  margin: 8% 5% 8% 0;
  border: 1px solid white;
}

#map{
  width: 100%;
  height: 60vh;
}

.fares-content{
  padding: 6% 7%;
}

.fare-font{
  font-size: 2rem;
}

.consulta{
  font-size: 120%;
}

#circle, #arrow{
  margin-right: 4%;
}

input{
  width: 70%;
  padding: 2%;
  background: #f7b617;
  border: 1px solid white;
  border-radius: 8px;
}

#route{
  background: white;
  border: white;
  color: black;
  font-weight: bold;
}

.route-content{
  margin-left: 30%;
}

/* FOOTER */

footer{
  background: #2b2b2b;
  color: white;
  padding: 5% 7%;
}

.social-media{
  margin-top: 29%;
}

.social{
  width: 3vh;
  background: #2b2b2b;
  border: #2b2b2b;
}

.list{
  list-style: none;
}

.li-foot{
  margin: 8% 0;
}

.links-footer{
  text-decoration: none;
  color: white;
  margin: 5% 0;
}

.links-footer:hover{
  text-decoration: none;
  color: #f7b617;
  transition: 0.5s
}

.footer-spacio{
  height: 25vh;
}

.logos-footer{
  margin-top: 20%;
}

.img-logos{
  width: 24vh;
  margin: 3% 0;
}